@charset "UTF-8";

    /* footer */

    footer{
        width: 100%;
        height: 220px;         
        background-color: #313d40;
        bottom: 0;

    }

    #wang{
        color: white;
        font-size: 30px;
        font-weight: 300;
    }

    #footer_1{
        height: 170px;
    }
   
    #footer_2{
        height: 50px;
    }
    
    .footer-p{
        color: white;
        padding: 20px 100px 10px 100px;
        font-weight: 800;
    }

    #footer_2 >p {
        font-weight: 100;
        font-size: small;
    }