@charset "UTF-8";

    @font-face {
        font-family: 'WAGURITTF';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/WAGURITTF.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }

    @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

    * {
        margin: 0 auto;
        padding: 0;
        font-family: 'Noto Sans KR', sans-serif;
        box-sizing: border-box;
        border: 0;
        vertical-align: baseline;
        
    }

    body{
        background-color: #FBFAF6;
    }

    #wrap{
        /* width: 100%; */
        position: relative;
        /* background-color: #FBFAF6; */

    }  
    
    main{
        width: 1320px;
        margin-top: 220px;
        border: 1px solid black;
    }

    ol, ul {
        list-style: none;
    }

    h1 {
        margin: 0;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    button,
    input,
    select{
            background-color: transparent;
            border: 0;

            &:focus {
                outline: none;
                box-shadow: none;
            }
    }

       textarea {
        background-color: transparent;
        border: 0;

        &:focus {
            resize: none;
            outline: none;
            box-shadow: none;
        }
    }

    a,
    button {
        cursor: pointer;
    }

    ul,
    ol {

        list-style: none;
    }